
@media (max-width: 399px) {
  
    .clique {
        padding: 0 10px;
    }

    div.clique-branch {
        transform: scale(0.8);
        margin-top: 3.2rem;
    }

    div.clique-modal {
        width: 100%;
        margin-top: 3.5rem;
        padding: 0 2rem;
    }

    div.clique-modal__title {
        font-size: 2.9rem;
    }

    form.clique-modal__form-login {
        padding: 0;
    }

    .form-login-email, .form-login-password {
        width: 100%;
    }

    div.clique-modal__social-item {
        width: 100%;
    }

    .clique-modal__form-login input {
        width: 100%;
    }
}

@media (max-width: 600px) {

    .clique::-webkit-scrollbar {
        display: none;

    }

    .clique::after {
        left: 0;
    }
    
    .clique::before {
        left: 0;
    }

    .clique-modal {
        margin-top: 4.6rem;
        padding: 1.2rem 3rem;
    }

    .clique-branch {
        transform: scale(0.9);
    }

    .clique-modal__title {
        font-size: 3.1rem;
    }

    .clique-modal__form-login {
        display: flex;
        padding: 0 20px;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    }

    .form-login-email__input, .form-login-password__input {
        width: 240px;
        height: 2.6rem;
    }

    .form-login-submit {
        width: 100%;
    }

    .clique-modal__social {
        display: flex;
        flex-direction: column;
    }

    .clique-modal__social-item {
        width: calc(100% - 40px);
        margin-left: auto;
        margin-right: auto;
    }
    
    .clique-modal__fogot-password {
        margin-right: 20px;
    }

    .clique-modal__seperate::before{
        right: 20px;
        width: calc(35% - 20px);
    }

    .clique-modal__seperate::after{
        left: 20px;
        width: calc(35% - 21px);
    }

    .clique-modal__new-register {
        margin-top: 2.2rem;
    }

    .clique-vender-login {
        margin-bottom: 3.8rem;
    }

    .clique::after {
        height: 24vh;
    }

    .clique::before {
        height: 25vh;
    }
}

@media (min-width: 1600px) {

    .clique-branch {
        transform: scale(1.1);
    }

    .form-login-email__input, .form-login-password__input {
        width: 44rem;
    }

    .form-login-submit {
        height: 5rem;
        width: 100%;
    }

    .clique-modal__social-item {
        padding: 1.2rem 2.3rem;
    }  
}

@media (min-height: 1050px) {

    .clique-branch {
        margin-top: 6rem;
    }

    .clique-modal__form-login, .clique-modal__seperate {
        margin-top: 4.5rem;
    }

    .form-login-email, .form-login-password{
        margin-bottom: 1.7rem;
    }

    .clique-modal__fogot-password {
        font-size: 1.4rem;
        margin-top: 1.6rem;
    }

    .clique-modal__social-item {
        margin-bottom: 1.7rem;
    }

    .clique-modal__new-register, .clique-vender-login {
        margin-top: 5rem;
    }
}