.clique * {
    transition: width, opacity, padding, transform, margin 0.3s linear;
}

body::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #b9b9b9;
}

body::-webkit-scrollbar-thumb {
    background-color: #1f1e1e;
}

.clique {
    width: 100%;
    overflow-x: hidden;
    position: relative;
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../../ingredient-general/images/Mask\ Group\ 129.png');
}

.clique::after {
    top: 0;
    left: 0;
    width: 100%;
    height: 39%;
    content: "";
    display: block;
    position: fixed;
    background-image: linear-gradient(var(--black-color), transparent);
}

.clique::before {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 43%;
    content: "";
    display: block;
    position: fixed;
    background-image: linear-gradient(transparent, var(--black-color));
}

.clique-branch {
    z-index: 1;
    position: relative;
    margin-top: 4.2rem;
    transition: all 0.3s linear;
}

.clique-modal {
    z-index: 1;
    padding: 1.4rem 11.4rem;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    transition: all 0.3s linear;
    margin-top: 8.1rem;
}

.clique-modal::after {
    content: "";
    display: block;
    height: 70%;
    position: absolute; top: 17%; right: 1.4rem;
    border-radius: 5rem;
    border-left: 5px solid #707070;
}

.clique-modal__title {
    color: white;
    margin-top: 1rem;
    font-size: 3.6rem;
    font-weight: bold;
    line-height: 6rem;
}

.register-group-fields {
    margin-top: 2.6rem;
}

.register-group-fields__row {
    display: flex;
    align-items: center;
    margin: 0 -0.75rem;
    justify-content: center;
}

.register-field {
    padding: 10px 12px;
    display: flex;
    border-radius: 3px;
    margin: 1rem 0.75rem;
    flex-direction: column;
    background-color: var(--white-color);
}

.register-field > label{
    font-size: 1.2rem;
    display: inline-block;
}

.register-field__input {
    height: 2.6rem;
    outline: none;
    width: 31.8rem;
    font-size: 1.6rem;
    line-height: 2.7rem;
    color: var(--black-color);
}

.field-description {
    padding: 12px;
}

.field-description > label {
    margin-bottom: 1px;
}

.field-description, .input--description {
    width: 100%;
}

.input--description {
    height: 4.8rem;
    max-width: 100%;
}

.input--description::-webkit-scrollbar {
    display: none;
    font-family: Helvetica, sans-serif;
}

.register-optional {
    width: 100%;
    display: flex;
    font-size: 1.6rem;
    text-align: center;
    align-items: center;
    color: var(--white-color);
    justify-content: space-between;
}

.register-optional {
    width: 100%;
    display: flex;
    font-size: 1.6rem;
    margin-top: 1.6rem;
    align-items: center;
    color: var(--white-color);
    justify-content: space-between;
}

.register-optional-item {
    flex: 1;
    padding: 0.9rem 1rem;
    text-align: center;
    border-radius: 3px;
    line-height: 2.4rem;
    transition: all 0.3s linear;
}

.register-optional-item:hover {
    cursor: pointer;
    filter: brightness(1.2);
}

.register-optional--back {
    margin-right: 1rem;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0);
}

.register-optional--next {
    margin-left: 1rem;
    border: 1px solid #2F9A4C;
    background-color: #2F9A4C;
}

.register-optional--back:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.clique-already {
    z-index: 1;
    color: #B9C0BE;
    font-size: 1.6rem;
    margin: 3.4rem 0 5.4rem 0;
    position: relative;
}

.clique-already > a{
   color: #E60A17;
}

.clique-already > a:hover{
    text-decoration: none;
 }

.clique-recaptcha {
    z-index: 1;
    bottom: 8.2rem;
    right: 4.8rem;
    display: flex;
    position: absolute;
    flex-direction: column;
 }

.clique-recaptcha > img{
    width: 7rem;
    height: 7.6rem;
}

.clique-recaptcha > span{
    color: #545454;
    font-size: 1.1rem;
    line-height: 1.5rem;
}


