@import "../abstracts/_variables.scss";
@import "../abstracts/mixins.scss";

.clique * {
    transition: width, opacity, padding, transform, margin 0.3s linear;
}

.clique {
    width: 100%;
    overflow-x: hidden;
    position: relative;
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../images/Mask\ Group\ 129.png');

    @include maxWidth(399px) {
        padding: 0 10px;
    }

    &::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #b9b9b9;
    }

    &::-webkit-scrollbar
    {
        width: 6px;
        background-color: #F5F5F5;

        @include maxWidth(600px) {
            display: none;
        }
    }

    &::-webkit-scrollbar-thumb
    {
        background-color: #1f1e1e;
    }

    &::after {
        top: 0;
        left: -6px;
        content: "";
        display: block;
        position: fixed;
        @include size(100%, 39%);
        background-image: linear-gradient(var(--black-color), transparent);

        @include maxWidth(600px) {
            left: 0;
            height: 24vh !important;
        }
    }
    
    &::before {
        left: -6px;
        bottom: 0;
        content: "";
        display: block;
        position: fixed;
        @include size(100%, 43%);
        background-image: linear-gradient(transparent, var(--black-color));
    
        @include maxWidth(600px) {
            left: 0;
            height: 25vh !important;
        }
    }

    &-branch-login {
        z-index: 1;
        position: relative;
        margin-top: 4.2rem;
        transition: all 0.3s linear;

        @include maxWidth(600px) {
            transform: scale(0.9);
        }

        @include maxWidth(399px) {
            transform: scale(0.8);
            margin-top: 3.2rem;
        }

        @include minWidth(1600px) {
            transform: scale(1.1);
        }

        @include minHeight(1050px) {
            margin-top: 6rem;
        }
    }
    
    &-modal-login {
        z-index: 1;
        padding: 3.6rem 5rem;
        background-color: rgba(0, 0, 0, 0.5);
        position: relative;
        margin-top: 8.1rem;

        @include maxWidth(600px) {
            margin-top: 4.6rem;
            padding: 1.2rem 3rem;
        }

        @include maxWidth(399px) {
            width: 100%;
            margin-top: 3.5rem;
            padding: 0 2rem;
        }

        &__title {
            color: white;
            margin-top: 1rem;
            font-size: 3.6rem;
            font-weight: bold;
            line-height: 6rem;

            @include maxWidth(600px) {
                font-size: 3.1rem;
            }

            @include maxWidth(399px) {
                font-size: 2.9rem;
            }
        }
        
        &__form-login {
            margin-top: 3rem;

            @include maxWidth(600px) {
                display: flex;
                padding: 0 20px;
                flex-direction: column;
                align-items: center;
                margin-top: 2rem;
            }

            @include maxWidth(399px) {
                padding: 0;
            }

            @include minHeight(1050px) {
                margin-top: 4.5rem;
            }

            input {
                outline: none;
                font-size: 1.6rem;
                transition: all 0.3s linear;
            
                @include maxWidth(399px) {
                    width: 100%;
                }

                &::placeholder {
                    font-size: 1.6rem;
                    color: transparent;
                }
    
                &:focus ~ label , 
                &:not(:placeholder-shown) ~ label {
                    font-size: 1.2rem;
                    top: 0;
                }
            }

            %form-login-email-password {
                overflow: hidden;
                padding: 20px 20px 10px 20px;
                position: relative;
                margin-bottom: 1.4rem;
                border-radius: 0.3rem;
                color: var(--black-color);
                transition: all 0.3s linear;
                background-color: var(--white-color);

                @include maxWidth(399px) {
                    width: 100%;
                }

                @include minHeight(1050px) {
                    margin-bottom: 1.7rem;
                }
            }
            %form-login-email-password-input {
                @include maxWidth(600px) {
                    width: 240px;
                    height: 2.6rem;
                }

                @include minWidth(1600px) {
                    width: 44rem;
                }
            }

            .form-login-email {
                @extend %form-login-email-password;
            
                &__input {
                    outline: none;

                    @extend %form-login-email-password-input;
                }

                &__label {
                    top: 15px;
                    left: 20px;
                    cursor: text;
                    line-height: 3rem;
                    font-size: 1.6rem;
                    position: absolute;
                    transition: all 0.2s linear;
                }
            }
            
            .form-login-password {
                @extend %form-login-email-password;
            
                &__input {
                    outline: none;

                    @extend %form-login-email-password-input;
                }

                &__label {
                    top: 15px;
                    left: 20px;
                    cursor: text;
                    line-height: 3rem;
                    font-size: 1.6rem;
                    position: absolute;
                    transition: all 0.2s linear;
                }
            }
        }

        &__fogot-password {
            float: right;
            font-size: 1.2rem;
            margin-top: 1.3rem;
            display: inline-block;
            color: var(--white-color);

            @include maxWidth(600px) {
                margin-right: 20px;
            }

            @include minHeight(1050px) {
                font-size: 1.4rem;
                margin-top: 1.6rem;
            }

            &:hover {
                text-decoration: none;
            }
        }

        &__seperate {
            clear: both;
            @include flexbox;
            position: relative;
            margin-top: 3.7rem;
            @include size(100%, 2rem);

            @include minHeight(1050px) {
                margin-top: 4.5rem;
            }

            &::after {
                left: 0;
                top: 50%;
                width: 35%;
                content: "";
                display: block;
                position: absolute;
                transform: translateY(-50%);
                border-top: 1px solid #707070;

                @include maxWidth(600px) {
                    left: 20px;
                    width: calc(35% - 21px);
                }
            }

            &::before {
                top: 50%;
                right: 0;
                width: 35%;
                content: "";
                display: block;
                position: absolute;
                transform: translateY(-50%);
                border-top: 1px solid #707070;

                @include maxWidth(600px) {
                    right: 20px;
                    width: calc(35% - 20px);
                }
            }

            label {
                color: var(--white-color);
                position: relative;
                z-index: 1;
                color: #A8A8A8;
                font-size: 1.4rem;
                display: block;
                width: 200px;
                text-align: center;
            }
        }

        &__social {
            width: 100%;
            margin-top: 1.6rem;

            @include maxWidth(600px) {
                display: flex;
                flex-direction: column;
            }

            &-item {
                width: 100%;
                display: flex;
                border-radius: 3px;
                margin-bottom: 1.4rem;
                align-items: center;
                text-align: center;
                padding: 1rem 1.6rem;
                transition: all 0.3s;

                @include maxWidth(600px) {
                    width: calc(100% - 40px);
                    margin-left: auto;
                    margin-right: auto;
                }

                @include maxWidth(399px) {
                    width: 100%;
                }

                @include minWidth(1600px) {
                    padding: 1.2rem 2.3rem;
                }

                @include minHeight(1050px) {
                    margin-bottom: 1.7rem;
                }

                span {
                    font-size: 1.6rem;
                    margin: auto;
                    line-height: 2.5rem;
                    color: var(--white-color);
                }
            }

            .social-item--twitter {
                background-color: #3CA6CC;
            }
            
            .social-item--facebook {
                background-color: #264F88;
            }
        }

        &__new-register {
            margin-top: 3.2rem;
            font-size: 1.6rem;
            text-align: center;
            color: var(--white-color);
            
            @include maxWidth(600px) {
                margin-top: 2.2rem;
            }

            @include minHeight(1050px) {
                margin-top: 5rem;
            }

            a {
                color: red;

                &:hover{
                    text-decoration: none;
                }
            }
        }
    }

    &-vender-login {
        z-index: 1;
        color: #A8A8A8;
        position: relative;
        font-size: 1.6rem;
        margin-top: 3rem;
        margin-bottom: 4.8rem;

        @include maxWidth(600px) {
            margin-bottom: 3.8rem;
        }

        @include minHeight(1050px) {
            margin-top: 5rem;
        }

        a {
            font-weight: bold;
            text-decoration: none;
            color: var(--white-color);
        }
    }
}

.form-login-submit {
    font-size: 1.6rem;
    color: white;
    line-height: 2.6rem;
    text-align: center;
    border-radius: 0.3rem;
    padding: 1rem 2rem;
    transition: all 0.3s;
    background-color: #2F9A4C;
    @include size(100%, 4.5rem);

    @include maxWidth(600px) {
        width: 100%;
    }

    @include minWidth(1600px) {
        height: 5rem;
        width: 100%;
    }
}

.form-login-password__input, .form-login-email__input {
    @include size(30.2rem, 3rem);
}