@import "../abstracts/all";

.clique {
    * {
        transition: width, opacity, padding, transform, margin 0.3s linear;
    }
    
    width: 100%;
    overflow-x: hidden;
    position: relative;
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../images/Mask\ Group\ 129.png');

    @include maxWidth(780px) {
        padding-left: 15px;
        padding-right: 15px;
    }

    @include maxWidth(500px) {
        padding-left: 10px;
        padding-right: 10px;
    }

    &::after {
        top: 0;
        left: 0;
        width: 100%;
        height: 39%;
        content: "";
        display: block;
        position: fixed;
        background-image: linear-gradient(var(--black-color), transparent);
    }
    
    &::before {
        left: 0;
        bottom: 0;
        width: 100%;
        height: 43%;
        content: "";
        display: block;
        position: fixed;
        background-image: linear-gradient(transparent, var(--black-color));
    }

    &-branch {
        z-index: 1;
        position: relative;
        margin-top: 4.2rem;
        transition: all 0.3s linear;

        @include minWidthHieght(1000px, 781px) {
            margin-top: 10.6rem;
        }

        @include minHeight(1300px) {
            margin-top: 13rem;
        }
    
    }
    
    &-modal {
        z-index: 1;
        padding: 1.4rem 11.4rem;
        background-color: rgba(0, 0, 0, 0.5);
        position: relative;
        transition: all 0.3s linear;
        margin-top: 8.1rem;

        @include minWidthHieght(1000px, 781px) {
            padding: 4.5rem 11.4rem;
        }

        @include minHeight(1300px) {
            padding: 6.5rem 11.4rem;
        }

        @include maxWidth(950px) {
            padding: 1.4rem 6.4rem;
        }

        @include maxWidth(850px) {
            padding: 1.4rem 3.4rem;
        }

        @include maxWidth(780px) {
            width: 100%;
            padding: 1.4rem 3.4rem;
        }

        @include maxWidth(500px) {
            width: 100%;
            margin-top: 5.1rem;
            padding: 1.4rem 2rem;
        }

        &::after {
            content: "";
            display: block;
            height: 70%;
            position: absolute; top: 17%; right: 1.4rem;
            border-radius: 5rem;
            border-left: 5px solid #707070;
        
            @include maxWidth(780px) {
                display: none;
            }
        }

        &__title {
            color: white;
            margin-top: 1rem;
            font-size: 3.6rem;
            font-weight: bold;
            line-height: 6rem;
        }

        .register-group-fields {
            margin-top: 2.6rem;

            @include minWidthHieght(1000px, 781px) {
                margin-top: 3.5rem;
            }

            @include minHeight(1300px) {
                margin-top: 4.5rem;
            }

            &__row {
                display: flex;
                align-items: center;
                margin: 0 -0.75rem;
                justify-content: center;

                @include minWidthHieght(1000px, 781px) {
                    margin-bottom: 1rem;
                }

                @include minHeight(1300px) {
                    margin-bottom: 1.3rem;
                }

                @include maxWidth(780px) {
                    flex-direction: column;
                }

                .register-field {
                    padding: 10px 12px;
                    display: flex;
                    border-radius: 3px;
                    margin: 1rem 0.75rem;
                    flex-direction: column;
                    background-color: var(--white-color);

                    @include maxWidth(780px) {
                        width: 100%;
                        padding: 10px 20px !important;
                        margin: 0.7rem 0.75rem;
                    }

                    @include maxWidth(500px) {
                        margin: 0.5rem 0.75rem;
                    }   

                    > label{
                        font-size: 1.2rem;
                        display: inline-block;
                    }

                    &__input {
                        height: 2.6rem;
                        outline: none;
                        width: 31.8rem;
                        font-size: 1.6rem;
                        line-height: 2.7rem;
                        color: var(--black-color);
                   
                        @include minHeight(1300px) {
                            height: 3rem;
                        }

                        @include maxWidth(780px) {
                            width: 100%;
                        }
                    }
                }

                .input--description {
                    width: 100%;
                    height: 4.8rem;
                    max-width: 100%;

                    &::-webkit-scrollbar {
                        display: none;
                        font-family: Helvetica, sans-serif;
                    }
                }

                .field-description {
                    padding: 12px;
                    width: 100%;
                    > label {
                        margin-bottom: 1px;
                    }
                }
            }

            .register-optional {
                width: 100%;
                display: flex;
                font-size: 1.6rem;
                margin-top: 1.6rem;
                text-align: center;
                align-items: center;
                color: var(--white-color);
                justify-content: space-between;

                @include minWidthHieght(1000px, 781px) {
                    margin-top: 2rem;
                }

                @include minHeight(1300px) {
                    margin-top: 3rem;
                }

                &-item {
                    flex: 1;
                    padding: 0.9rem 1rem;
                    text-align: center;
                    border-radius: 3px;
                    line-height: 2.4rem;
                    transition: all 0.3s linear;

                    &:hover {
                        cursor: pointer;
                        filter: brightness(1.2);
                    }
                }

                &--back {
                    margin-right: 1rem;
                    border: 1px solid white;
                    background-color: rgba(0, 0, 0, 0);
               
                    @include maxWidth(500px) {
                        margin-right: 0.5rem;
                    }

                    &:hover {
                        background-color: rgba(0, 0, 0, 0.6);
                    }
                }

                &--next {
                    margin-left: 1rem;
                    border: 1px solid #2F9A4C;
                    background-color: #2F9A4C;

                    @include maxWidth(500px) {
                        margin-left: 0.5rem;
                    }
                }
            }
        }
    }

    &-already {
        z-index: 1;
        color: #B9C0BE;
        font-size: 1.6rem;
        margin: 3.4rem 0 5.4rem 0;
        position: relative;

        @include minWidthHieght(1000px, 781px) {
            margin: 9.4rem 0 12.4rem 0;
        }

        > a{
            color: #E60A17;

            &:hover{
                text-decoration: none;
            }
        }
    }

    &-recaptcha {
        z-index: 1;
        bottom: 8.2rem;
        right: 4.8rem;
        display: flex;
        position: absolute;
        flex-direction: column;

        @include maxWidth(780px) {
            display: none;
        }

        > img{
            width: 7rem;
            height: 7.6rem;

            @include maxWidth(950px) {
                width: 5rem;
                height: 5.6rem;
            }
        }

        > span{
            color: #545454;
            font-size: 1.1rem;
            line-height: 1.5rem;
        }
    }
}

