/* Tablet */
@media (max-width: 1150px){
    .home-content__post-container {
        column-count: 4;
        column-gap: 2.5rem;
        padding: 2.7rem 2.2rem;
    }

    .category-item {
        margin: 0 2.5rem;
    }

    .home-content-post {
        margin-bottom: 2.5rem;
    }
}

@media (max-width: 1023px){ 

    .header-search-input {
        width: 17.6rem;
    }

    .header-functional__filter, 
    .header-functional__notify, 
    .header-functional__addition {
        margin-right: 4.2rem;
    }

    .home-content__post-container {
        column-count: 3;
        column-gap: 2rem;
        padding: 2.7rem 2.2rem;
    }

    .home-content-post {
        margin-bottom: 2rem;
    }

    .home-post-img {
        height: 20.3rem;
    }

    .home-post-content__name {
        line-height: 2.4rem;
    }
}

@media (max-width: 950px) {

    .header-search-input {
        width: 14.6rem;
    }

    .header-functional__filter, 
    .header-functional__notify, 
    .header-functional__addition {
        margin-right: 3.2rem;
    }

    .home-content__category {
        height: 5.9rem;
        padding: 1.2rem 2.2rem;
    }

    .home-content__category {
        padding: 1rem 2.2rem;
    }

    .category-list {
        overflow-x: auto;
        padding: 2px;
        justify-content: flex-start;
    }

    .category-list > .category-item:first-of-type {
        margin-left: 0;
    }

    .category-item {
        flex: 1;
        margin: 0 0.5rem;
        padding: 0px 10px;
        line-height: 3.3rem;
        border-radius: 50px;
        border: 1px solid #e9e9e9;
        background-color: var(--white-color);
    }
}

/* Mobile */

@media (max-width: 839px) {

    .home-header {
        top: -1px;
        padding: 2.6rem 2.2rem;
    }

    .home-header__search-mobile {
        display: block;
        margin-left: 0.2rem;
    }

    .home-header__search-wrap {
        left: 0;
        top: 99%;
        opacity: 0;
        width: 100%;
        visibility: hidden;
        position: absolute;
        transform: scale(0.7);
        padding: 0.6rem 2.2rem;
        transform-origin: 50% 0;
        transition: all 0.3s ease-in-out;
        background-color: var(--background-gray);
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    }
    
    .home-header__search {
        border-radius: 0px;
        border: 1px solid #ccc;
        padding: .8rem 2rem .8rem 0.5rem;
    }

    .header-search-icon {
        position: relative;
        margin-right: 3.1rem;
    }

    .header-search-icon::after {
        top: -3px;
        content: "";
        height: 130%;
        right: -18px;
        display: block;
        position: absolute;
        border-right: 1px solid #707070;
    }

    .home-header__search input {
        width: 100%;
        height: 2rem;
    }

    .home-header__functional-mobile > svg {
        display: block;
    }

    .header-functional_user-name {
        display: block;
    }

    .home-header__functional {
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 5;
        position: fixed;
        align-items: unset;
        flex-direction: column;
        background-color: white;
        transform: translateX(100%);
    }

    .header-functional__user {
        order: 1;
        padding: 1rem 1.6rem;
        border-bottom: 1px solid #9c9c9c;
    }

    .header-functional__user svg {
        display: none;
    }

    .header-functional__filter, .header-functional__notify, .header-functional__addition,
    .header-functional__setting, 
    .header-functional__loutout {
        order: 10;
        display: flex;
        align-items: center;
        margin: 2.5rem 1rem 2rem 2.4rem;
    }

    .home-header__functional > div:not(:last-of-type) span {
        display: block;
    }

    .header-functional__user-close {
        display: block;
    }

    .home-content__post-container {
        column-count: 2;
        column-gap: 1.5em;
    }

    .home-post-img {
        height: 22.3rem;
    }

    .home-content-post {
        margin-bottom: 1.5rem;
    }
}

@media (max-width: 600px) {
    .home-content__post-container {
        column-count: 1;
        padding: 1.7rem 1.2rem;
    }

    .home-header__search-wrap {
        padding: 0.6rem 1.2rem;
    }

    .home-post-img {
        height: 30.3rem;
    }

    .home-content__category {
        padding: 1rem 1.2rem;
    }
}

@media (max-width: 450px) {
    .home-post-img {
        height: 24.3rem;
    }

    .category-item {
        margin: 0 0.3rem;
    }

    .home-header {
        padding: 1.8rem 2.2rem;
    }

    .home-content {
        margin-top: 6.2rem;
    }

    .home-content__category {
        height: 5rem;
        padding: 0.6rem 1.2rem;
    }

    .home-header__branch > img {
        transform: scale(0.9);
    }
}

@media (max-width: 350px) {
    .home-post-img {
        height: 20.3rem;
    }
}