@media (min-height: 1000px) and (min-width: 781px) {
    .clique-branch {
        margin-top: 10.6rem;
    }

    .clique-modal {
        padding: 4.5rem 11.4rem;
    }

    .register-group-fields {
        margin-top: 3.5rem;
    }

    .register-group-fields__row {
        margin-bottom: 1rem;
    }

    .register-optional {
        margin-top: 2rem;
    }

    .clique-already {
        margin: 9.4rem 0 12.4rem 0;
    }
}

@media (min-height: 1300px) {
    .clique-branch {
        margin-top: 13rem;
    }

    .clique-modal {
        padding: 6.5rem 11.4rem;
    }

    .register-group-fields {
        margin-top: 4.5rem;
    }

    .register-group-fields__row {
        margin-bottom: 1.3rem;
    }

    .register-field__input {
        height: 3rem;
    }

    .register-optional {
        margin-top: 3rem;
    }
}

@media (max-width: 950px) {

    .clique-modal {
        padding: 1.4rem 6.4rem;
    }

    .clique-recaptcha > img {
        width: 5rem;
        height: 5.6rem;
    }
}

@media (max-width: 850px) {

    .clique-modal {
        padding: 1.4rem 3.4rem;
    }
}

@media (max-width: 780px) {

    .clique {
        padding-left: 15px;
        padding-right: 15px;
    }

    .clique-modal {
        width: 100%;
        padding: 1.4rem 3.4rem;

    }

    .clique-modal::after {
        display: none;
    }

    .register-group-fields__row {
        flex-direction: column;
    }

    .clique-modal .register-group-fields__row .register-field {
        width: 100%;
        padding: 10px 20px;
        margin: 0.7rem 0.75rem;
    }

    .clique-modal .register-group-fields__row .register-field__input {
        width: 100%;
    }

    .clique-recaptcha {
        display: none;
    }
}

@media (max-width: 500px) {

    .clique {
        padding-left: 10px;
        padding-right: 10px;
    }

    .clique-modal {
        width: 100%;
        margin-top: 5.1rem;
        padding: 1.4rem 2rem;
    }

    .clique-modal .register-group-fields__row .register-field {
        margin: 0.5rem 0.75rem;
    }

    .clique-modal .register-group-fields .register-optional--back {
        margin-right: 0.5rem;
    }

    .clique-modal .register-group-fields .register-optional--next {
        margin-left: 0.5rem;
    }
}