.home * {
    transition: all 0.3s linear;
}

.home {
    overflow: hidden;
    --background-gray: #F5F5F5;
}

.home-header {
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    position: fixed;
    flex-direction: row;
    align-items: center;
    padding: 1.6rem 2.2rem;
    justify-content: space-between;
    background-color: var(--white-color);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
}

.home-header #search {
    display: none;
}

#search:checked ~ .home-header__search-wrap {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
}

.home-header__search-mobile {
    display: none;
    cursor: pointer;
}

.home-header__search {
    display: flex;
    padding: 1.4rem 2.6rem 1.4rem 1rem;
    align-items: center;
    border-radius: 2.3rem;
    background-color: var(--background-gray);
}

.header-search-icon {
    cursor: pointer;
    margin: 0 1.5rem 0 1.4rem;
}

.header-search-input-wrap {
    flex: 1;
}

.header-search-input {
    width: 21.2rem;
    border: none;
    outline: none;
    font-size: 1.6rem;
    background-color: var(--background-gray);
}

.header-search-input::placeholder {
    color: #707070;
    font-size: 1.6rem;
}

.home-header__branch {
    top: 50%;
    left: 50%;
    width: 15.7rem;
    height: 4.1rem;
    position: absolute;
    text-decoration: none;
    transform: translate(-50%, -50%);
}

.home-header__functional {
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.home-header__functional > div:not(:last-of-type) span {
    display: none;
    font-size: 1.8rem;
    color: #52595c;
    margin-left: 2.6rem;
}

.functional-overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 4;
    position: fixed;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.5);
}

#functional {
    display: none;
}

#functional:checked ~ .home-header__functional {
    transform: translateX(0);
}

#functional:checked ~ .functional-overlay {
    opacity: 1;
    visibility: visible;
}

.home-header__functional-mobile {
    -webkit-tap-highlight-color: transparent;
}

.home-header__functional-mobile > svg {
    display: none;
    width: 2.2rem;
    cursor: pointer;
}

.home-header__functional > div:hover:not(:last-of-type) {
    filter: brightness(1.5);
}

.header-functional__filter {
    transform: translateY(1px);
}

.header-functional__filter, .header-functional__notify, .header-functional__addition {
    cursor: pointer;
    margin-right: 5.2rem;
    transition: all 0.1s linear;
}

.header-functional__setting, 
.header-functional__loutout {
    display: none;
}

.header-functional__setting svg, 
.header-functional__loutout svg{
    width: 2rem;
    height: 2rem;
    color: #52595c;
}

.header-functional__setting {

}

.header-functional__loutout {

}


.header-functional__addition > svg {
    width: 2.1rem;
    height: 2.1rem;
    color: #52595c;
}

.header-functional__user {
    display: flex;
    cursor: pointer;
    align-items: center;
}

.header-functional_user-name {
    display: none;
    font-size: 1.6rem;
    font-weight: bold;
    color: #333333;
    margin-left: 1rem;
}

.header-functional__user-close {
    display: none;
   color: #333333;
   font-size: 2.4rem;
   font-weight: bold;
   margin: 0 1rem 0 10rem;
   font-family: Arial, Helvetica, sans-serif;
}

.header-functional__user > img{
    border-radius: 50%;
    transition: all 0.2s linear;
}

.header-functional__user:hover > img {
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
}

.header-functional__user > svg {
    margin-left: 1.3rem;
    display: inline-block;
}

/* content */

.home-content {
    width: 100%;
    margin-top: 7.8rem;
}

.home-content__category {
    padding: 2.2rem;
    height: 6.9rem;
    background-color: #FAFAF9;
}

.category-list {
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: center;
}

/* .category-list::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.category-list::-webkit-scrollbar
{
    height: 2px;
	background-color: #F5F5F5;
}

.category-list::-webkit-scrollbar-thumb
{
	background-color: #000000;
} */

.category-list::-webkit-scrollbar {
   display: none;
}

.category-item {
    height: 100%;
    margin: 0 3.5rem;
    color: #536876;
    font-weight: bold;
    font-size: 1.6rem;
    text-align: center;
    line-height: 2.5rem;
    transition: all 0.1s linear;
}

.category-item:hover {
    cursor: pointer;
}

.home-content__post-container {
    column-count: 5;
    column-gap: 3em;
    padding: 2.7rem 2.2rem;
    background-color: var(--white-color);
}

.home-content-post {
    width: 100%;
    overflow: hidden;
    margin-bottom: 2.5rem;
    display: inline-block;
    transition: all 0.1s linear;
    border-radius: 5px 5px 7px 7px;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.1);
}

.home-content-post:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.2);
}

.home-post-img {
    width: 100%;
    height: 14.3rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.home-post-content {
    padding: 1.2rem;
    background-color: #FAFAF9;
}

.home-post-content__header {
    display: flex;
    align-items: center;
    margin-bottom: 1.2rem;
    justify-content: space-between;
}

.post-content-title {
    color: #536876;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.post-content-check {
    width: 1.1rem;
    color: #2196F3;
    margin-right: auto;
    margin-left: 0.6rem;
}

.post-content-option {
    width: 1.3rem;
    color: #536876;
}

.home-post-content__score {
    display: block;
    color: #203442;
    font-weight: 300;
    font-size: 1.8rem;
    margin-bottom: 0.8rem;
}

.home-post-content__name {
    color: #203442;
    font-size: 1.8rem;
    line-height: 2.7rem;
    margin-bottom: 1.2rem;
}

.home-post-content__date {
    display: block;
    margin: 1.2rem 0 1.8rem 0;
    color: #203442;
    font-size: 1.4rem;
}

.home-post-content__status {
    display: block;
    color: #C0C9D5;
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
    margin-top: 1.2rem;
}

.home-post-footer {
    width: 100%;
    display: flex;
    padding: 0.7rem 0.8rem;
    align-items: center;
    background-color: #FAFAF9;
    border-top: 1px solid #EAEAEA;
}

.home-post-footer__time {
    flex: 1;
    color: #C0C9D5;
    font-size: 1.4rem;
}

.home-post-footer__comment{
    display: flex;
    color: #C0C9D5;
    font-size: 1.4rem;
    align-items: center;
    margin-right: 0.9rem;
}

.home-post-footer__comment, .home-post-footer__heart {
    display: flex;
    color: #C0C9D5;
    font-size: 1.4rem;
    align-items: center;
}

.home-post-footer__comment svg {
    margin-right: 0.8rem;
}

.home-post-footer__heart svg{
    margin-right: 0.8rem;
}






